{% extends "shop/layouts/main.html" %}

{% block title %}
Shop Cart | Collection
{% endblock title %}

{% block content %}

<section class="py-5 text-center container" style="margin-top:70px;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> Best Sellers </h1>
            <p class="lead text-muted"> Our most popular products on sale </p>
            <p>
                <a href="#" class="btn btn-primary">Already user</a>
                <a href="#" class="btn btn-primary">Register</a>
            </p>
        </div>
    </div>
</section>

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"> Categories </h4>
                <hr style="border-bottom: whitesmoke;">
                {% include 'shop/inc/message.html' %}
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        {% for item in category %}
        <div class="col-md-4 col-lg-3">  
            <div class="card my-3">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" style="height: 200px; width: auto;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <a href="{% url 'collections' item.name %}" class="btn btn-primary" style="text-decoration: none;">View All</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}
